@charset "utf-8";

img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

#header_container {
	margin: 0 auto;
	width:100%;
}

.banner {
	float: left;
}

.navbar {
	float:left;
	clear: both;
}

.breadcrumb {
	float:left;
}
/*
hr {
	clear:both;
}*/