@charset "utf-8";

img, object, embed, video {
	max-width: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body {
	font-family: 'Coda', sans-serif;
	font-size: 16px;
	line-height: 1.25em;
	background: #fdfdff;
}
h1{
	font-size:2em;
}
h2 {
	font-size: 1.2em;
	line-height: 1em;
}
h3 {
	font-size: 1.375em;
	line-height: 1.13636364em;
}

#header_container {

	margin: 0 auto;
	width:100%;
	height: 220px;
	background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/cover.jpg") no-repeat center center scroll;
/*	-webkit-background-size: cover;
	-moz-background-size: cover;*/
	background-size: cover;
	/*-o-background-size: cover;*/

	text-align: center;
	position: relative;
}

.navbar_button {
	position: absolute;
	top: 6%;
	right: 4%;
	max-width: 35px;
}

.navbar_button:hover {
			/*shadow*/
	z-index:1000;
	box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
	-webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
	-moz-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
}

.navbar_button:active {
			/*shadow*/
	z-index:1000;
	box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
	-webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
	-moz-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
			/*zoom*/
	-webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
     transform:scale(1.2);
}

.banner {
	clear: both;
	display: inline-block;
	margin-top: 6%;
	max-width: 70px;
}

.maintext {
	clear:both;
	margin-top: 8px;
	color: white;
	font-weight: normal;
}

.breadcrumb {
	clear: both;
	float: left;
	width: 88%;
	position: absolute;
	left: 2%;
	bottom: 0;
}

.breadcrumb ol {
	list-style-type: none;
	padding: 0;	/*no starting padding left*/
}

.breadcrumb li {
	float: left;
	padding: 3px;
	color: white;
	font-family: 'Coda', sans-serif;
}

.breadcrumb a {
	color: white;
}

.navbar {
	clear: both;
	width: 95%;
	display: none;
	margin: 0 auto;
}

.show{display:block}

.navbar ul {
	list-style-type: none;
	padding: 0;	/*no starting padding left*/
}

.navbar li {
	text-align: center;
	margin: 1px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.2s ease-in-out;
}

.navbar li:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.navbar a {
	font-family: Lucida Grande, Optima-Regular, Verdana, sans-serif;
	text-decoration: none;
	display: block;
	padding: 12px 14px;
}

.navbar a:hover {
	text-decoration: underline;
}

.not_link {
	padding: 12px 14px;
}
									/*index*/
#container_index {
	margin: 0 auto;
	width:98%;
	clear: both;
}

.card {
	background: #fff;
	border-radius: 2px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
	padding: 0px;
	overflow: hidden;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.2s ease-in-out;
}

.card:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card:active {
			/*shadow*/
	z-index:1000;
	box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
	-webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
	-moz-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
			/*zoom*/
	-webkit-transform:scale(0.9); /* Safari and Chrome */
    -moz-transform:scale(0.9); /* Firefox */
    -ms-transform:scale(0.9); /* IE 9 */
    -o-transform:scale(0.9); /* Opera */
     transform:scale(0.9);
}

a.card_title {
	width: 100%;
	text-decoration: none;
	background: #009688;
	font-family: Lucida Grande, Optima-Regular, Verdana, sans-serif;
	font-weight: bold;
	color: white;
	text-align: center;
	padding: 2%;
	display: block;
}

.card_img {
	display: block;
	width: 100%;
	height: auto;
}


.card_text {
	font-size: 1em;
	text-align: justify;
	padding: 2%;
}

.card_button {
	text-decoration: none;
	width: 100%;
	font-family: Lucida Grande, Optima-Regular, Verdana, sans-serif;
	font-weight: bold;
	color: white;
	text-align: center;
	padding: 2%;
	background: #80CBC4;
	display: block;
}

									/*description*/
#container_description {
	width: 98%;
	clear: both;
	margin: 0 auto;
	text-align: center;
}

.text_image {
	width: 100%;
}

.description_text {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 20px;
	text-align: justify;
	padding-top: 10px;
}

.italic {
	font-style: italic;
}


#downloads {
	margin: auto;
	width:100%;
	text-align: center;
	clear: both;
}

.download_button {
	width: 44%;
	margin: 8px;
}

#footer_container {
	margin: auto;
	width:100%;
	text-align: center;
	clear: both;
}

.valid {
	margin: 10px;
}

.portal_submit {
	margin: 0 auto;
	width: 80%;
	display: block;
}

input[type=text] {
	margin: 0 auto;
	width: 100%;
	height: 40px;
}


												/*Guide list*/
#container_guide_list {
	width: 98%;
	clear: both;
	margin: 0 auto;
}
												
												
												/*Interface*/
#container_interface {
	margin: auto;
	width:100%;
	text-align: center;
	clear: both;
}

.screen {
	width: 50%;
	padding-top: 5px;
}

.align_left {
	padding-left: 25px;
	padding-right: 5px;
	text-align: left;
	padding-bottom: 20px;
}

.interface_bold {
	font-weight: bold;
}
												/*Portal Link Field*/
#container_portal_link_field {
	margin: auto;
	width:100%;
	text-align: center;
	clear: both;
}

/* =============================================== TABLET ===============================================*/
@media only screen and (min-width: 481px) {
body {
	line-height:1.375em;
}
h1 {
	font-size: 2em;
	line-height: 1.25em;
}
h2 {
	font-size: 1.625em;
	line-height: 1.15384615em;
}
h3 {
	font-size: 1.375em;
	line-height: 1.13636364em;
}

#header_container {
	width:100%;
	margin: auto;
	clear: none;
	text-align: center;
}

.navbar_button {
	display: none;
}

.banner {
	margin: 20px;
	float: left;
	max-width: 120px;
	clear: none;
}

.titles {
	margin-top: 45px;
	float: left;
	width: auto;
	clear: none;
}

.maintext {
	clear: none;
}

.navbar {
	clear: both;
	width: 100%;
	display: inline!important;
	margin: auto;
	text-align: center;
}

.navbar ul {
	padding: 0;	/*no starting padding left*/
	text-align: center;
	width: 100%;
	display: table;
	overflow: hidden;
	margin: auto;
	clear: both;
}

.navbar li {
	width: 18%;
	margin: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.2s ease-in-out;
	display: inline-block;
}

.navbar a {
	font-family: Lucida Grande, Optima-Regular, Verdana, sans-serif;
	text-decoration: none;
	display: block;
}
												/*Index*/
#container_index {
	width: 98%;
	text-align: center;
	margin: 0 auto;
	clear: both;
}

.card {
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.card_img {
	float: left;
	width: 40%;
}

.card_title h2 {
	padding: 1%;
	font-size: 1.325em;
}

.card_text {
	float: left;
	width: 58%;
	margin: 0;
	padding: 1%;
	font-size: 0.875em;
}

.card_button {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 58%;
	padding: 1%;
	font-size: 1em;
	line-height: 1.1em;
	text-decoration: none;
	width: 58%;
	display: block;
}

												/*Guide list*/
#container_guide_list {
	width: 98%;
	text-align: center;
	margin: 0 auto;
	clear: both;
}

												/*description*/

.download_button {
	width: 35%;
}

}

/* =============================================== DESKTOP ===============================================*/
@media only screen and (min-width: 850px) {
body {
	line-height:1.375em;
}
h1 {
	font-size: 3em;
	line-height: 1.05em;
}
h2 {
	font-size: 2.25em;
	line-height: 1.25em;
}
h3 {
	font-size: 1.75em;
	line-height: 1.25em;
}

.navbar_button {
	display: none;
}
									/*Index*/

.card {
	margin: 5px;
	width: 45%;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;
}

									/*description*/
#container_description {
	width: 90%;
	text-align: center;
}

.text_image {
	width: 60%;
}

.description_text {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 20px;
	text-align: justify;
	padding-top: 10px;
}

.italic {
	font-style: italic;
}


#downloads {
	margin: auto;
	width:50%;
	text-align: center;
	clear: both;
}

.download_button {
	width: 44%;
	margin: 8px;
}

												/*Guide list*/
												
												
}
